* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #0f172a;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";

    background: radial-gradient(900px 500px at 15% 10%, rgba(99, 102, 241, .20), transparent 60%),
    radial-gradient(900px 500px at 85% 20%, rgba(16, 185, 129, .18), transparent 55%),
    radial-gradient(700px 450px at 50% 90%, rgba(59, 130, 246, .12), transparent 55%),
    #f8fafc;
}

a {
    color: inherit;
}