server:
  port: 8080

spring:
  application:
    name: FinalProjectLedZeppelin
  security:
    user:
      name: monitor
      password: "$2a$10$aTeugyopr5aLXvPAfddw6OB7rv6iGivrK6Xqcb4yYBzSQvJJPirCu"
      roles: MONITORING

  datasource:
    url: jdbc:postgresql://localhost:5432/task_manager
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

app:
  jwt:
    secret: "A9fQX7M@Z2eK!sR4L%Jt6D#H0xP^B8m$C3Y5NWEVwUqTGaSdFh1Okr"
    access-token-minutes: 60

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers
  endpoint:
    health:
      show-details: when_authorized
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      minimum-expected-value:
        http.server.requests: 1ms
      maximum-expected-value:
        http.server.requests: 10s
